---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostNavigator from "../components/PostNavigator.astro";
import TextBody from "../components/TextBody.astro";
const allPosts = await Astro.glob("../pages/posts/engineering/*.md");
---

<BaseLayout pageTitle={"News from the Workshop"}>
    <TextBody>
        During the job search, I have been integrating the French National Archives API into a modern React application. The goal is to improve UX for researchers.
        I have recently started collaborating with the <a class="underline" href="https://shiny.ens-paris-saclay.fr/app/gallicagram">Gallicagram</a> team. 
        <PostNavigator posts={allPosts} />
    </TextBody>
</BaseLayout>
