---
import BaseLayout from "../layouts/BaseLayout.astro";
import TabLink from "../components/TabLink.astro";
---

<BaseLayout pageTitle="Will Gleason">
  <article
    class="prose prose-lg m-auto p-4 text-justify lg:prose-lg xl:prose-2xl"
  >
    <p>
      I'm a developer, 2021 Carleton College graduate, and French history major. I code in the hopes of making public data more accessible. I currently work in Lyon, France as a frontend developer. On the side, I maintain the 
      <TabLink url="https://www.gallicagrapher.com/">Gallica Grapher</TabLink>, a tool that plots word occurrences in 19th-century French newspapers.
      I also maintain a <TabLink url="https://nl-joke-val.vercel.app/">Twitch chat dashboard</TabLink> for Northernlion's chat. A Go server
      counts emotes, +2s, and -2s, creating a live feed of the stream.
    </p>
    <p>
      I like to write my APIs in <TabLink url="https://github.com/gleasonw/gallica-grapher/blob/main/backend/main.py">Python</TabLink>
      or <TabLink url="https://github.com/gleasonw/nl_joke_val/blob/main/api/api.go">Go</TabLink>, my user interfaces in Typescript, using React or Vue. Most of all,
      I enjoy projects that bring delight, simplifying access to complex data.
    </p>
  </article>
</BaseLayout>
