---
import TextBody from "../components/TextBody.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeStamp from "../components/TimeStamp.astro";
---

<BaseLayout pageTitle="Hello there!">
    <article
        class="text-justify m-auto prose prose-lg p-2 lg:prose-lg xl:prose-2xl"
    >
        I'm Will, a French history major turned full-stack developer. I maintain
        a digital humanities tool, <a
            target="_blank"
            href="https://d32d5ops9ui5td.cloudfront.net/">the Gallica Grapher</a
        >. I'm currently migrating the project from CRA to Next.js and
        Typescript.
        <br />
        <br />
        I like to write my APIs in Python or Go, my user interfaces in React and
        Typescript. I use Postgres to persist my data. I have tried GraphQL for API
        data validation, but I think it's excessive for my needs. Instead, I have
        started experimenting with tRPC and Python's marvelous FastAPI. Tailwind
        is my css framework of choice. For static projects, such as this website,
        Astro.js is my favorite tool.
        <br />
        <br />
        One developer, whom I appreciate, lists only their favorite apple cider recipe
        on their website. Because I need a job, I will not do that. One day, perhaps.
        <br />
        <br />
        Here is the story of my technical adventures so far, told with the help of
        commit messages.
        <br />
        <br />
        <TimeStamp
            date="Jul 8, 2020"
            title="The Wonder of a Public API"
            commit="here goes!"
            url="https://github.com/gleasonw/gallica-grapher/commit/02ddfc7886a53512bdb39dd03010e6fa92fcc3ec"
        >
            <p>
                The summer of 2020, I sought to understand the coverage of
                French explorer Pierre Savorgnan de Brazza as he colonized the
                Congo River Basin for France. This involved reading many
                periodicals on the French Archive's website, Gallica.
            </p>
            <p>
                The French national library staff have publicized their API,
                without any limitations, outside of courtesy. I began to
                experiment with Python, writing some clunky classes to pull XML
                from the archive, and graphing the data with some even clunkier R code.
            </p>
        </TimeStamp>
        <TimeStamp
            date="Dec 2, 2020"
            title="My very own API"
            commit="database"
            url='https://github.com/gleasonw/gallica-grapher/commit/df0c2029cad7fb67bbad7d8d60ad68a27d16eb79'
            >
        Multihreading = faster, but too many CSVs, Postgres.
        </TimeStamp>
    </TimeStamp>
        I suspect there won't be many more times in my life when a group of experts
        will expect both high quality French prose and max-flow min-cut algorithms.
        Carleton was wonderful. My senior thesis on the 19th century French press,
        colonization in the Congo, and West African hunting traditions won distinction
        in the French major. It was a wild, multi-disciplinary adventure. I love
        cultural studies. My research depended on digitized newspapers from the French
        National Archive. A marvelous resource, but difficult to access, and harder
        to visualize. I was able to scrape together a graphing tool using Python
        and R -- it could plot the usage of terms over time. Fascinating, but difficult
        to read, and still inaccessible. Looks impressive, though!
    </article>
</BaseLayout>
