---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={"Will Goes to Poiters"}>
  <ul>
    <li>
      <a href="/posts/poitiers/post-1"
        >On Iceland, trains, lightsabers, Poitiers, and other things</a
      >
    </li>
    <li><a href="/posts/poitiers/post-2">The second post</a></li>
    <li><a href="/posts/poitiers/post-3">The third post</a></li>
    <li><a href="/posts/poitiers/post-4">The fourth post</a></li>
    <li><a href="/posts/poitiers/post-5">The fifth post</a></li>
    <li><a href="/posts/poitiers/post-6">The sixth post</a></li>
    <li><a href="/posts/poitiers/post-7">The seventh post</a></li>
    <li><a href="/posts/poitiers/post-8">The eighth post</a></li>
  </ul>
</BaseLayout>
