---
import Social from "./Social.astro";
import github from '../images/github.svg';
import linkedin from '../images/linkedin.svg'
---

<footer>
  <div class="flex justify-center align-center gap-20 m-10">
    <Social platform="github" username="gleasonw" svg={github}/>
    <Social platform='linkedin' username='in/will-gleason' svg={linkedin} />
  </div>
</footer>
