---
import Social from "./Social.astro";
---

<footer>
  <div class="flex justify-center align-center gap-20 mt-20 mb-20">
    <Social platform="github" username="gleasonw" />
    <Social platform='linkedin' username='in/will-gleason' />
  </div>
</footer>
