---
---

<div class='flex justify-between p-10 gap-10 flex-wrap'>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/bressuire_blog/">Bressuire Blog</a>
  <a href="/poitiers_blog/">Poitiers Blog</a>
</div>

<style>
    a {
        font-size: 1rem;
        border: solid;
        padding: 10px;
    }
</style>
