---
import type { MarkdownInstance } from "astro";

interface Props {
  posts: MarkdownInstance<Record<string, any>>[];
}
const { posts } = Astro.props;
---

<div class='mt-20 flex flex-col gap-10'>
  {
    posts.slice(0).reverse().map((post) => (
      <uL class="border m-2">
        <li>
          <a class="flex flex-col p-5" href={post.url}>
            {" "}
            <span>{post.frontmatter.title}</span>
            <span>{post.frontmatter.pubDate.slice(0, 10)}</span>
          </a>
        </li>
      </uL>
    ))
  }
</div>
