---
const { platform, username, svg } = Astro.props;
import { Image } from "astro:assets";
---

<a href={`https://${platform}.com/${username}`}>
    <Image src={svg} alt={platform} class='w-10'/>
</a>
