---
interface Props {
    date: string;
    title: string;
    commit: string;
    url: string;
}
const { date, title, commit, url } = Astro.props;
---

<div class="border m-10 p-10">
    <p class="m-0">{date}</p>
    <h2 class="m-0">{title}</h2>
    <a
        href={url}
        target='_blank'
        >"{commit}"</a
    >
    <p><slot /></p>
</div>
